{{#formFor "task" id="task" class="form-inline centered"}}
  <div class="wrap">
    <label>
      Description
      {{input "description" inputClass="span6" showWrapper=false placeholder="My new task"}}
    </label>
  </div>
  
  <div class="wrap">
    <label>
      Deadline
      {{input "deadlineDate" inputClass="input-small date-input" showWrapper=false placeholder="mm/dd/yyyy"}}
    </label>
  </div>

  <div class="wrap">
   {{input "deadlineTime" inputClass="input-small time-input" showWrapper=false placeholder="HH:MM"}}
  </div>

  <div class="wrap">
    {{submit "<i class='icon-white icon-plus'></i> Add Task" submitClass="btn btn-success btn-large"}}
  </div>
{{/formFor}}
  
<div class="progress progress-success">
  <div class="bar"
       {{bindAttr style="barPercent"}}></div>
</div>

<ul id="tasks">
  {{#each tasks.reverse}}
    {{#view Lodos.TaskShow taskBinding="this"}}
      <ul class="horizontal-list">
        <li>
          {{#view Lodos.ToggleButton class="btn btn-mini" taskBinding="task" tasksBinding="parentView.tasks"}}
            <i {{bindAttr class="iconClass"}}></i>
          {{/view}}
        </li>
        <li {{bindAttr class="task.done Lodos.truth:content"}}>{{task.description}}</li>
        <li class="right delete">
          <a class="delete btn btn-danger btn-mini" {{action "delete"}}><i class="icon-white icon-remove"></i></a>
        </li>
        <li class="right">
          <span class="label label-success">
            <i class="icon-white icon-plus"></i>
            {{task.formattedCreatedAt}}
          </span>
          {{#if task.deadline}}
            <span class="label label-important">
              <i class="icon-white icon-exclamation-sign"></i>
              {{task.formattedDeadline}}
            </span>
          {{/if}}
        </li>
      </ul>
    {{/view}}
  {{/each}}
</ul>
