{{#formFor "task" id="task" class="form-inline centered"}}
  <label>
    Description
    {{input "description" inputClass="span6" showWrapper=false placeholder="My new task"}}
  </label>
  <label>
    Deadline
    {{input "deadlineDate" inputClass="input-small date-input" showWrapper=false placeholder="mm/dd/yyyy"}}
  </label>
  {{input "deadlineTime" inputClass="input-small time-input" showWrapper=false placeholder="HH:MM"}}
  {{submit "<i class='icon-white icon-plus'></i> Add Task" submitClass="btn btn-success btn-large"}}
{{/formFor}}

<ul id="tasks">
  {{#each tasks.reverse}}
    {{#view Lodos.TaskShow taskBinding="this"}}
      <ul class="horizontal-list">
        <li>
          {{view Ember.Checkbox valueBinding="task.done" class="mark-as-done"}}
        </li>
        <li {{bindAttr class="task.done"}}>{{task.description}}</li>
        <li class="right delete">
          <a class="delete btn btn-danger btn-mini" {{action "delete"}}>X</a>
        </li>
        <li class="right">
          <span class="label label-success">
            <i class="icon-white icon-plus"></i>
            {{task.formattedCreatedAt}}
          </span>
          {{#if task.deadline}}
            <span class="label label-important">
              <i class="icon-white icon-exclamation-sign"></i>
              {{task.formattedDeadline}}
            </span>
          {{/if}}
        </li>
      </ul>
    {{/view}}
  {{/each}}
</ul>
