{{#formFor "task" id="task" class="form-inline centered"}}
  <div class="wrap">
    <label>
      Description
      {{input "description" inputClass="span6" showWrapper=false placeholder="My new task"}}
    </label>
  </div>
  
  <div class="wrap">
    <label>
      Deadline
      {{input "deadlineDate" inputClass="input-small date-input" showWrapper=false placeholder="mm/dd/yyyy"}}
    </label>
  </div>

  <div class="wrap">
   {{input "deadlineTime" inputClass="input-small time-input" showWrapper=false placeholder="HH:MM"}}
  </div>

  <div class="wrap">
    {{cancel "<i class='icon-white icon-repeat'></i> Cancel" cancelClass="btn btn-inverse btn-large"}}
    {{#if content.isNew}}
      {{submit "<i class='icon-white icon-plus'></i> Add Task" submitClass="btn btn-success btn-large"}}
    {{else}}
      {{submit "<i class='icon-white icon-check'></i> Save Task" submitClass="btn btn-info btn-large"}}
    {{/if}}
  </div>
{{/formFor}}
  
<div class="progress progress-success">
  <div class="bar" {{bindAttr style="barPercent"}}></div>
</div>

<ul id="tasks">
  {{#each tasks.sorted}}
    {{#view Lodos.TaskShow taskBinding="this"}}
      <ul class="horizontal-list">
        <li class="drag">
          <i class="icon-resize-vertical"></i>
        </li>
        <li>
          {{#view Lodos.ToggleButton class="btn btn-mini" taskBinding="task" tasksBinding="parentView.tasks"}}
            <i {{bindAttr class="iconClass"}}></i>
          {{/view}}
        </li>
        <li {{bindAttr class="task.done Lodos.truth:content"}}>{{{description}}}</li>
        <li class="right delete">
          <a class="delete btn btn-danger btn-mini" rel="tooltip" title="Delete Task" {{action "delete"}}>
            <i class="icon-white icon-trash"></i>
          </a>
        </li>
        <li class="right edit">
          <a class="edit btn btn-info btn-mini" rel="tooltip" title="Edit Task" {{action "edit"}}>
            <i class="icon-white icon-edit"></i>
          </a>
        </li>
        <li class="right">
          <span class="label label-success" rel="tooltip" title="Created at">
            <i class="icon-white icon-plus-sign"></i>
            {{task.formattedCreatedAt}}
          </span>
          {{#if task.deadline}}
            <span class="label label-important" rel="tooltip" title="Deadline">
              <i class="icon-white icon-time"></i>
              {{task.formattedDeadline}}
            </span>
          {{/if}}
        </li>
      </ul>
    {{/view}}
  {{/each}}
</ul>
